body {
  font-family: "Baloo Bhai 2", cursive;
  background-color: rgba(195, 235, 235, 0.188); 
}

.bar {
  display: flex;
  flex-direction: row;
  height: 30px;
  background-color: black;
  margin: 0px;
  padding: 8px;
  border-radius: 30px;
}

.form-control {
  height: 30px;
  border-radius: 24px;
  font-size: medium;
  padding: 14px;
  margin-left: 540px;
}

div a {
  margin: 0px 11px;
  padding: 0px 12px;
  color: white;
  border-radius: 35px;
  font-size: 18px;
  line-height: 1.8em;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  background-color: white;
  color: black;
}

h4 {
  color: rgb(242, 34, 34);
  display: inline;
}

h2 {
  display: block;
  text-align: center;
}

.catogery {
  margin: -55px 4px;
  margin-top: 10px;
  padding: 14px 4px;
  padding-top: 10px;
  padding-bottom: 17px;
  display: flex;
  flex-direction: row;
  background-color: rgba(34, 32, 31, 0.671);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.az {
  margin: 3px 4px;
  padding: 0px 5px;
  padding-bottom: 35px;
  height: 30px;
  padding-right: 7px;
  padding-left: 13px;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 33px;
  font-size: 25px;
  background-color: white;
  list-style: none;
}

.key {
  list-style: none;
  display: flex;
  margin: 0px 34px;
  position: relative;
  top: -42px;
}

.key2 {
  background-color: rgb(33, 31, 28);
  height: 32px;
  width: 30px;
  margin: 12px;
}

li:hover {
  background-color: black;
  color: white;
}

div img {
  width: 100%;
  height: 200px;
}

.equ {
  height: 420px;
  width: 300px;
  background-color: wheat;
  margin: 10px 10px;
  margin-bottom: 30px;
  border-color: black;  
  border-radius: 16px;
}

.info {
  display: flex;
  margin: 20px 60px;
}

.des {
  padding: 0px 8px;
}

.ins:hover {
  text-decoration: underline;
  text-shadow: 2px 2px 1px rgba(194, 24, 194, 0.39);
}

.hr {
  height: 420px;
}

p {
  display: inline-block;
  width: auto;
  height: auto;
}

.equ:hover {
  box-shadow:2px 2px 20px black;
  position:relative;
  bottom: 4px;
  right: 4px;
}
